<!DOCTYPE html>
<html>

<head>
    <title>Profilo - <%= user.username %></title>
    <link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1/dist/css/bootstrap-grid.css"/>
	<link rel="stylesheet" type="text/css" href="../stile.css"/>
</head>

<%- include('layout') -%>

<body>
	<center>
		<h1>Profilo di <%= user.username %></h1>
		<p>(id: #<%= user.id %>)</p><br>
		<h4>Email: <%= user.email %></h4>
		<image src="<%= user.picture %>"></image><br><br>
		<h4>Paese: <%= user.country %></h4>
		<h4>Visita il profilo Spotify 
			<a style="color: #1DB954" href="<%= user.uri %>">qui</a>
		</h4>
	</center>
</body>
</html>

