<!DOCTYPE html>
<html>

<head>
    <title>Profilo - <%= user.username %></title>
    <link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1/dist/css/bootstrap-grid.css"/>
	<link rel="stylesheet" type="text/css" href="../stile.css"/>

	<script>
		function edit(show) { 
			document.getElementById('edit').hidden=!show;
			document.getElementById('edit2').hidden=!show;
		}
	</script>
</head>

<%- include('layout') -%>

<body>
	<center>
		<h1>Profilo di <a style="color: #1DB954" href="<%= user.uri %>"><%= user.username %></a></h1>
		<p>(id: #<%= user.id %>)</p><br>
		<h4>Email: <%= user.email %></h4>
		<image src="<%= user.picture %>"></image><br><br>
		<h4>Paese: <%= user.country %></h4>
		<br>

		<button class="btn btn-info" onClick="return edit(true);">Modifica profilo</button><br><br>

		<div style="background-color: #302C2C; width: 40%; text-align: left">
			<form id="edit" hidden action="http://localhost:8888/modificaUtente" method="post" style="margin-left: 20px">
				<br>
				<input name="vecchiaEmail" hidden value="<%= user.email %>">
				<label>Scegli il tuo nuovo username: </label>
				<input name="nuovoUsername" type="text" maxlength="20" placeholder="<%= user.username %>" value="<%= user.username %>" size=12><br><br>
				<label>Carica una nuova immagine del profilo dal web: </label>
				<input name="nuovoFile" type="text" value="<%= user.picture %>" size=32><br><br>
				<label>Cambia il paese: </label>
				<input name="nuovoPaese" type="text" maxlength="2" size="2" placeholder="<%= user.country %>" value="<%= user.country %>"><br>
			</form>
			<div id="edit2" hidden style="text-align: right; margin-right: 20px;">
				<button class="btn btn-danger" onClick="edit(false);">Annulla</button>
				<button class="btn btn-success" type="submit" form="edit">Salva</button>
				<br><br>
			</div>
		</div>

		<hr style="border:1px solid green;"><br><br>

		<h2>Artisti preferiti:</h2>
		<div class="row">
            <% for(var i=0; i<data.items.length; i++) { %>
                <div class="column">
					<a target="_blank" href="<%= data.items[i].uri %>"><img src='<%= data.items[i].images[1].url %>' style="height: 140px"></a>
					<figcaption>
						<a style="color: #1DB954" target="_blank" href="<%= data.items[i].uri %>"><%= data.items[i].name %></a>
					</figcaption>
                </div>
            <% } %>
		</div>

		<h2>Brani preferiti:</h2>
		<div class="row">
            <% for(var i=0; i<dataBrani.items.length; i++) { %>
                <div class="column">
					<% var theLink="/daticanzone/?id=" + dataBrani.items[i].id %>
					<a href= <%= theLink %> ><img style="border: solid #1DB954 10px; height: 140px" src='<%= dataBrani.items[i].album.images[1].url %>'></a>
                    <figcaption>
						<a style="color: #1DB954" href= <%= theLink %> ><%= dataBrani.items[i].name %></a>
					</figcaption>
                </div>
            <% } %>
		</div>
	</center>
	<%- include('footer') -%>
</body>
</html>

