<!DOCTYPE html>
<html>

<head>
    <title>Dati Canzone</title>
    <link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1/dist/css/bootstrap-grid.css"/>
	<link rel="stylesheet" type="text/css" href="../stile.css"/>
</head>

<%- include('layout') -%>

<body>
    <center>
        <div class="container sfondo" style="background-image: url('<%= spotify.album.images[0].url %>');">
            <div class="filtro"></div>
                <div class="noopacity">
                    <h1><%= spotify.name %></h1>
                    <br>
                    <iframe src="https://open.spotify.com/embed/track/<%= spotify.id %>" width="320" height="400" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    <br>
                    <h2>Lyrics: </h2><br>
                    <% if (musixmatch.message.header.status_code!=200) { %>
                        <span style="white-space: pre-line">Sembra che il testo di questa canzone non sia disponibile! :(</span>
                    <% } else { %>

                        <% if (!musixmatch.message.body.lyrics.lyrics_body) { %>
                            <span style="white-space: pre-line">Questo brano è uno strumentale! Goditi la musica :)</span>
                        <% } else { %>
                            <span style="white-space: pre-line"><%= musixmatch.message.body.lyrics.lyrics_body.substring(0, musixmatch.message.body.lyrics.lyrics_body.length - 70) %></span>
                        <% } %>

                    <% } %>
                    <br><br><br>
                </div>
            </div>
        </div>
    </center>
</body>

</html>